$color1: #bc0c34;
$color2: #15104b;
.mb-48 {
  margin-bottom: 48px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.fs-56 {
  font-size: 56px;
}
.fs-24 {
  font-size: 24px;
}
.fs-16 {
  font-size: 16px;
}
.fw-800 {
  font-weight: 800;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}
.color1 {
  color: $color1;
}
.color2 {
  color: $color2;
}
